.aboutTopPage{
  margin-top: 70px;
  .embed-responsive{
    height: 300px !important;
  }

  .email{
    margin: 8px !important;
  }
  #mc-embedded-subscribe{
    margin-top: 0px;
    &:hover{
      background-color: @colorDarkPink !important;
    }
  }
}


.baseSection(@colorLight) {
  .panel-heading {
    background: transparent !important;
    border-color: @colorLight !important;
    border-bottom: 6px solid;
    > div{
      .vcenter;
    }

  }
  .panel-body {
    background: transparent !important;
    font-size: 1.4em;
  }
}

.panel-default {
  img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
  }
  .nameMember{
    font-size: 1.5em;
  }
  .descriptionMember{
    font-size: 1.3em;
  }

  a{
    color: @colorBlack !important;
    font-size: 1.3em;
  }
  border-color: transparent;
  background-color: transparent;

  .aliceSection {
    .baseSection(@colorPink);
  }
  .legoSection {
    .baseSection(@colorBlue);
  }
  .boffinSection {
    .baseSection(@colorYellow);
  }
}

