/*====================================================================*/
/* BIG LOGO */
/*====================================================================*/
.baseLogo(@widthHeightLogo) {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  height: @widthHeightLogo;
  margin: 100px auto auto auto;
  position: relative;
  width: @widthHeightLogo - 20px;
  z-index: 10;
  img {
    height: @widthHeightLogo;
    position: absolute;
    width: @widthHeightLogo;
  }
}

@media @mobile {
  #logo {
    .baseLogo(@smallLogo);
  }
}

@media @tablet {
  #logo {
    .baseLogo(@bigLogo);
  }
}

.motto {
  margin: auto;
  .marginTop30;
  width: @widthDescription;
}

.subMotto {
  margin: auto;
  width: @widthDescription;
}

.circuitTitle {
  .marginTop30;

}

#alice, #lego {
  background-color: @colorBlackTrans;
  h2, p {
    color: @colorWhite;
  }
}

/* WE LEARN CHILDREN TO DO MAGIC IN IT */
.baseCircuit(@sizeCircle : @sizeCircles, @color: @colorLightGrey) {
  background-color: @color;
  height: @sizeCircle;
  width: @sizeCircle;
  max-width: @widthCirclesPercentage;
  border-radius: 50%;
  margin: auto;
}

#circuitBoffin {
  .baseCircuit();
  &:hover {
    background-color: @colorYellow;
  }
}

#circuitAlice {
  .baseCircuit();
  &:hover {
    background-color: @colorPink;
  }
}

#circuitRobot {
  .baseCircuit();
  &:hover {
    background-color: @colorBlue;
  }
}

.circuitIn {
  .baseCircuit(@sizeInCircles, @colorWhite);
  padding: 20px;
  margin-top: 10px;
}

.lineBase(@color) {
  height: @heightLines;
  margin: auto;
  width: @widthCirclesPercentage;
  border-radius: 4px;
  background-color: @color;
}

.lineBoffin {
  .lineBase(@colorYellow);
}

.lineAlice {
  .lineBase(@colorPink);
}

.lineRobot {
  .lineBase(@colorBlue);
}

.popisKrouzku {
  margin: auto;
  padding: 15px 0;
  width: @widthDescription;
}

/* DESCRIPTIONS */
.stripe {
  padding: 50px 0;
}

.baseRobot(@heightRobot, @translation) {
  text-align: center;
  img {
    height: @heightRobot;
    transform: @translation;
  }
}

#robAlice {
  .baseRobot(270px, translateY(18.5%));
}

#robBoffin {
  .baseRobot(320px, translateY(-15.8%));
}

#robLego {
  .baseRobot(280px, translateY(-18%));
}

.baseButton(@color, @darkColor) {
  background: @color;
  border-color: @color;
  color: @colorWhite;
  float: left;
  margin-top: 15px;
  &:hover, &:focus, &:active {
    background: @darkColor;
    border-color: @darkColor;
    color: @colorWhite;
  }
}

.btn-pink {
  .baseButton(@colorPink, @colorDarkPink);
}

.btn-yellow {
  .baseButton(@colorYellow, @colorYellowDark);
}

.btn-blue {
  .baseButton(@colorBlue, @colorBlueDark);
}


