/*====================================================================*/
/* BIG LOGO */
/*====================================================================*/
.baseLogo(@widthHeightLogo) {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  height: @widthHeightLogo;
  margin: 100px auto auto auto;
  position: relative;
  width: @widthHeightLogo - 20px;
  z-index: 10;
  img {
    height: @widthHeightLogo;
    position: absolute;
    width: @widthHeightLogo;
  }
}

@media @mobile {
  #logo {
    .baseLogo(@smallLogo);
  }
}

@media @tablet {
  #logo {
    .baseLogo(@bigLogo);
  }
}

.motto {
  margin: auto;
  width: @widthPercentage70;
}

.subMotto {
  margin: auto;
  width: @widthPercentage70;
}

.circuitTitle {
  .marginTop30;

}

#scratch, #microbit, #lego {
  background-color: @colorBlackTrans;
  h2, p {
    color: @colorWhite;
  }
}

/* WE LEARN CHILDREN TO DO MAGIC IN IT */
.baseCircuit(@sizeCircle : @sizeCircles, @color: @colorLightGrey) {
  background-color: @color;
  height: @sizeCircle;
  width: @sizeCircle;
  max-width: @widthPercentage90;
  border-radius: 50%;
  margin: auto;
}

#circuitBoffin {
  .baseCircuit();
  &:hover {
    background-color: @colorYellow;
  }
}

#circuitScratch {
  .baseCircuit();
  &:hover {
    background-color: @colorPink;
  }
}

#circuitRobot {
  .baseCircuit();
  &:hover {
    background-color: @colorBlue;
  }
}

.circuitIn {
  .baseCircuit(@sizeInCircles, @colorWhite);
  padding: 20px;
  margin-top: 10px;
}

.lineBase(@color) {
  height: @heightLines;
  margin: auto;
  width: @widthPercentage90;
  border-radius: 4px;
  background-color: @color;
}

.lineBoffin {
  .lineBase(@colorYellow);
}

.lineScratch {
  .lineBase(@colorPink);
}

.lineRobot {
  .lineBase(@colorBlue);
}

.popisKrouzku {
  margin: auto;
  padding: 15px 0;
  width: @widthPercentage70;
}

/* DESCRIPTIONS */
.stripe {
  padding: 30px 0;
}

.baseRobot(@heightRobot, @translation) {
  text-align: center;
  img {
    height: @heightRobot;
    transform: @translation;
  }
}

#robScratch {
  .baseRobot(230px, translateY(-13.1%));
}

#robMicrobit {
  .baseRobot(325px, translateY(10.2%));
}

#robBoffin {
  .baseRobot(310px, translateY(-9.8%));
}

#robOzobot {
  .baseRobot(290px, translateY(10.5%));
}

#robLego {
  .baseRobot(280px, translateY(-10.7%));
}

/*ENABLEDBUTTONS*/
.baseButton(@color,@darkColor){
  background:@color;
  border-color:@color;
  color:@colorWhite;
  float:left;
  margin-top:15px;
  &:hover,&:focus,&:active{
    background:@darkColor;  
    border-color:@darkColor;
    color:@colorWhite;
  }
}

//.btn-main{
//}

.btn-pink {
  .baseButton(@colorPink, @colorDarkPink);
}

.btn-yellow {
  .baseButton(@colorYellow, @colorYellowDark);
}

.btn-blue {
  .baseButton(@colorBlue, @colorBlueDark);
}

