<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="entypo-facebook" target="_blank"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="entypo-mail"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="entypo-phone" target="_blank"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="entypo-paper-plane" target="_blank"><span>Klikni pro odběr</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
            <img src="img/banners/krouzek.png"/>
        </div>
        <div class="row">
            <div class="mobileFit">
                <h5><b>ČAS:</b> 16:30 - 18:00</h5>
                <h5><b>MÍSTO:</b> Technická 2, Praha 6</h5>
                <h5><b>TERMÍNY KONÁNÍ:</b> každou středu od 22. února do 10. května 2017</h5>
            </div>
        </div>

        <div class="row">
            <div class="pinkBottomLine mobileFit">
                <div class="text-center">
                    <button class="btn btn-lg btn-pink btn-alice-form" ng-click="subscribeToCourse()">Přihlas
                        se!
                    </button>
                </div>
                <br>
                <p> Ze stavebnice Lego Mindstorms si postaví vlastního robota, kterého následně v grafickém prostředí
                    naprogramují. Robot tedy bude dělat přesně to, co děti samy vymyslely. Hledáme každého kdo má rád
                    lego a
                    oplývá skvělými
                    nápady. Pod vaší kouzelnou hůlkou roboti oživnou!
                </p>
                <!--<div class="row vcenter meetUsTogether">-->
                    <!--<div class="col-sm-6 hidden-xs">-->
                        <!--<h1>POTKEJ NÁS VŠECHNY!</h1>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6 centering">-->
                        <!--<img src="img/banners/krouzekTogether.png"/>-->
                    <!--</div>-->
                <!--</div>-->
                <h2>ROZDĚLENÍ LEKCÍ</h2>
                <p> Čekají nás 4 lekce elektra se stavebnicí <a href="http://www.boffin.cz/"> Boffin</a>, kde se dozvíte
                    teoretické základy a hnes si je ověříte sestavení elektrických obvodů.</p>
                <p>Další 4 lekce budou věnovány programování <a href="https://www.lego.com/en-us/mindstorms"> robotů
                    LEGO
                    Mindstorms</a>, kde si robota postavíme a programuejeme.</p>
                <p>Poslední 4 lekce se naučíme objektově programovat v prostředí <a
                        href="http://www.alice.org/index.php?page=what_is_alice/what_is_alice">
                    Alice</a>.
                </p>
                <div class="text-center">
                    <button class="btn btn-lg btn-pink btn-alice-form" ng-click="subscribeToCourse()">Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row mobileFit">
            <h2>TO UČÍME MY</h2>
            <div class="row aboutComponent">
                <div class="col-sm-4">
                    <img src="img/members/about1.png"/>
                </div>
                <div class="col-sm-4">
                    <img src="img/members/about2.png"/>
                </div>

                <div class="col-sm-4">
                    <img src="img/members/about3.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>