<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="entypo-facebook" target="_blank"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="entypo-mail"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="entypo-phone" target="_blank"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="entypo-paper-plane" target="_blank"><span>Klikni pro odběr</span></a></li>
    </ul>
</aside>

<!--  LOGO -->
<div class="row">
    <div id="logo">
        <a scroll-on-click href="#mainInfo">
        <img class="img-responsive" id="logo-back" src="img/logos/hat_back.png">
        <img class="img-responsive" id="logo-mid" src="img/logos/hat_mid.png">
        <img class="img-responsive" id="logo-front" src="img/logos/hat_front.png">
        </a>
    </div>
</div>

<!-- WE LEARN CHILDREN TO DO MAGIC IN IT -->
<div id="mainInfo" class="row centering">
    <h1 class="motto">Učíme děti kouzlit v IT</h1>
    <div class="row"><p class="subMotto">Kroužek a workshopy zdarma pro děti 2. stupně ZŠ</p></div>
    <div class="row marginTop30">
        <div class="col-md-2"></div>
        <div class="col-md-8 marginTop30">

            <!--ALICE-->
            <div class="col-sm-4">
                <a scroll-on-click href="#alice">
                    <div id="circuitAlice" class="row">
                        <div class="circuitIn">
                            <img src="img/icons/robots/alice.png" alt="programming" width="90">
                        </div>
                    </div>
                </a>
                <div class="circuitTitle"><h5>OBJEKTOVÉ <span style = "display: block;">PROGRAMOVÁNÍ</span></h5></div>
                <div class="lineAlice"></div>
                <div class="popisKrouzku">
                    <p>Napište pár magických řádků a animovaný film či počítačová hra je na světě.</p>
                </div>
            </div>

            <!--BOFFIN-->
            <div class="col-sm-4">
                <a scroll-on-click href="#boffin">
                    <div id="circuitBoffin" class="row">
                        <div class="circuitIn">
                            <img src="img/icons/robots/boffin.png" alt="elektro" height="90">
                        </div>
                    </div>
                </a>
                <div class="circuitTitle"><h5 >ELEKTROSTAVEBNICE <span style = "display: block;">BOFFIN</span></h5></div>
                <div class="lineBoffin"></div>
                <div class="popisKrouzku">
                    <p>Vykouzlete obvody, rozsviťte diody, spusťte poplach.</p>
                </div>
            </div>

            <!--ROBOTS-->
            <div class="col-sm-4">
                <a scroll-on-click href="#lego">
                    <div id="circuitRobot" class="row">
                        <div class="circuitIn">
                            <img src="img/icons/robots/lego.png" alt="robot" width="90">
                        </div>
                    </div>
                </a>
                <div class="circuitTitle"><h5>PROGRAMOVÁNÍ <span style = "display: block;">LEGO ROBOTŮ</span></h5></div>
                <div class="lineRobot"></div>
                <div class="popisKrouzku">
                    <p>Postavte robota z LEGO Mindstorms a čarujte, dokud Vás nezačne poslouchat.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- ALICE -->
<div id="alice" class="row stripe">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
        <div class="col-xs-10 col-sm-5 col-lg-4">
            <h2>HRAVÉ PROGRAMOVÁNÍ S ALICE</h2>
            <p>Cílem workshopu je naučit se v grafickém prostředí <a class="link" href="http://www.alice.org" target="_blank">Alice</a>, pochopit základy
                objektového programování a nakonec napsat několik řádků kódu a tím vytvořit
                vlastní příběh či hru. Kreativitě se meze nekladou. Přijďte si vyčarovat vlastní magický svět!</p>
            <button class="btn btn-lg btn-pink" ng-click="tryWorkshop('/workshops/alice')" >Chci to zkusit !</button>
        </div>
        <div id="robAlice" class="col-sm-5 col-lg-4 hidden-xs">
            <img src="img/robots/aliceCut.png"/>
        </div>
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
    </div>
</div>

<!-- BOFFIN -->
<div id="boffin" class="row stripe">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
        <div id="robBoffin" class="col-sm-5 col-lg-4 hidden-xs">
            <img src="img/robots/boffinCut.png"/>
        </div>
        <div class="col-xs-10 col-sm-5 col-lg-4">
            <h2 class="text-uppercase text-left">Kouzla elektra se&nbsp;stavebnicí Boffin</h2>
            <p class="text-left">Workshop je zaměřený na pochopení základních principů elektrických obvodů a stavění
                elektromagnetických projektů se stavebnicí <a class="link" href="http://www.boffin.cz/" target="_blank">Boffin</a>.
                Mimo jiné zvládneme princip kondenzátoru a vykouzlíme různá poplašná zařízení.</p>
            <button class="btn btn-lg btn-yellow" ng-click="tryWorkshop('/workshops/boffin')">Chci to zkusit !</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
    </div>
</div>

<!-- MINDSTORMS -->
<div id="lego" class="row stripe">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
        <div class="col-xs-10 col-sm-5 col-lg-4">
            <h2>KAMARÁDŠTÍ ROBOTI Z LEGO MINDSTORMS</h2>
            <p>Na workshopu nahlédnete do světa robotiky. Vyzkoušíte si oživit robota, pochopíte, jak funguje, a budete mu
                zadávat nejrůznější úkoly. Hledáme odvážné čarodějky a čaroděje s originálními nápady. Čarujeme se
                stavebnicí <a class="link" href="https://www.lego.com/cs-cz/mindstorms/?domainredir=mindstorms.lego.com" target="_blank">LEGO Mindstorms Education</a>.
            </p>
            <button class="btn btn-lg btn-blue" ng-click="tryWorkshop('/workshops/mindstorms')">Chci to zkusit !</button>
        </div>
        <div id="robLego" class="col-sm-5 col-lg-4 hidden-xs">
            <img src="img/robots/legoCut.png"/>
        </div>
        <div class="col-xs-1 col-sm-1 col-lg-2"></div>
    </div>
</div>