<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="facebook" target="_blank"><img src="img/contacts/facebook.svg" alt="facebook icon"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="mail"><img src="img/contacts/mail.svg" alt="mail icon"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="phone" target="_blank"><img src="img/contacts/phone.svg" alt="phone icon"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="paper-plane" target="_blank"><img src="img/contacts/paper-plane.svg" alt="paper-plane icon"><span>Klikni pro odběr</span></a></li>
        <li><a href="https://twitter.com/witches_cz" class="twitter" target="_blank"><img src="img/contacts/twitter.svg" alt="twitter icon"><span>witches_cz</span></a></li>
        <li><a href="https://www.instagram.com/witches.cz/" class="instagrem" target="_blank"><img src="img/contacts/instagram.svg" alt="instagram icon"><span>witches.cz</span></a></li>
        <li><a href="https://goo.gl/M2DH5F" class="youtube" target="_blank"><img src="img/contacts/youtube.svg" alt="youtube icon"><span>channel wITches</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
            <img src="img/graphics/aliceSummer.png"/>
        </div>

        <div class="row">
            <div class="mobileFit">
                <h5><b>Čas:</b> 13:00 - 17:00</h5>
                <h5><b>Místo:</b> Technická 1902/2, 166 27 Praha 6-Dejvice</h5>
                <h5><b>Termíny konání:</b> <i>Termíny sdělíme v srpnu</i></h5>
                <h5><b>Vstupné:</b> zdarma</h5>
                <h5><b>Pro koho:</b> děti 10-15 let</h5>
            </div>
        </div>

        <div class="row">
            <div class="pinkBottomLine">
                <div class="text-center">
                    <button class="btn btn-lg btn-pink btn-alice-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
                <p class="mobileFit">Děti se naučí základy objektového programování pomocí grafického editoru <a
                        class="link" href="http://www.alice.org" target="_blank">Alice</a>. Ukážeme si několik
                    základních principů a pak si děti už samy vytvoří postavičky, vymyslí algoritmus, pomocí
                    něhož postavičky naprogramují. Tak vykouzlí vlastní magický příběh.
                </p>
                <div class="row centering">
                    <!--<div class="col-sm-4 ">-->
                    <!--<h1>-->
                    <!--Jak u nás probíhal poslední workshop Alice?-->
                    <!--</h1>-->
                    <!--</div>-->
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/jrQgM_0EPDU"
                            allowfullscreen></iframe>
                </div>
                <br>
                <div class="mobileFit">
                    <h4><b>Program</b></h4>
                    <p><b>13:00 - 13:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Představení programu Alice</p>
                    <p><b>13:30 - 14:00&nbsp;&nbsp;&nbsp;&nbsp;</b> Lehký úvod do objektového programování v Alice</p>
                    <p><b>14:00 - 15:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Společné tvoření čarodějnického příběhu</p>
                    <p><b>15:15 - 15:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Pauza</p>
                    <p><b>15:45 - 16:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Vlastní tvorba, soutěž o nejlepší naprogramované
                        kouzlo.</p>
                    <p><b>16:30 - 17:00&nbsp;&nbsp;&nbsp;&nbsp;</b> Přehlídka Vašich kouzel a vyhodnocení nejlepších</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-pink btn-alice-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <h2 class="mobileFit paddingBottom20">To učíme my</h2>
            <div class="row centering">
                <!--ELI-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/eli.jpg">
                    </div>
                    <div class="circuitTitle"><h5>ELI <span style="display: block;">BABAYEVA</span></h5></div>
                    <div class="lineAlice"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--KÁŤA-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/katka.jpg">
                    </div>
                    <div class="circuitTitle"><h5>KÁŤA <span style="display: block;">JANDOVÁ</span></h5></div>
                    <div class="lineAlice"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--BARUS-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/bara.jpg">
                    </div>
                    <div class="circuitTitle"><h5>BARUŠ <span style="display: block;">SUCHANOVÁ</span></h5></div>
                    <div class="lineAlice"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-3"></div>
</div>

