<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="entypo-facebook" target="_blank"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="entypo-mail"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="entypo-phone" target="_blank"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="entypo-paper-plane" target="_blank"><span>Klikni pro odběr</span></a></li>
        <li><a href="https://twitter.com/witches_cz" class="entypo-twitter" target="_blank"><span>witches_cz</span></a></li>
        <li><a href="https://www.instagram.com/witches.cz/" class="entypo-instagrem" target="_blank"><span>witches.cz</span></a></li>
        <li><a href="https://goo.gl/M2DH5F" class="zocial-youtube" target="_blank"><span>channel wITches</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
            <img src="img/graphics/boffinSummer.png"/>
        </div>

        <div class="row">
            <div class="mobileFit">
                <h5><b>Čas:</b> 13:00 - 16:00</h5>
                <h5><b>Místo:</b> Technická 1902/2, 166 27 Praha 6-Dejvice</h5>
                <h5><b>Termíny konání:</b> <i>Termíny sdělíme v srpnu</i></h5>
                <h5><b>Vstupné:</b> zdarma</h5>
                <h5><b>Pro koho:</b> děti 10-15 let</h5>
            </div>
        </div>

        <div class="row">
            <div class="yellowBottomLine">
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                        Přihlas se!
                    </button>
                </div>
                <br>
                <p class="mobileFit"> Děti pochopí základy elektrických obvodů hravou formou se stavebnicí <a
                        class="link" href="http://www.boffin.cz/" target="_blank">Boffin</a>.
                    Během kroužku spojíme dohromady teoretické základy a praktické zapojování obvodů.
                    Sestrojíme poplach, větrák nebo třeba sirénu. Samozřejmě nebudou chybět soutěže a práce ve
                    skupinkách.
                </p>
                <div class="row centering">
                    <!--<div class="col-sm-4">-->
                    <!--<h1>-->
                    <!--Jak u nás probíhal poslední workshop s Boffinem?-->
                    <!--</h1>-->
                    <!--</div>-->
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/qz88fJSzKtk"
                            allowfullscreen></iframe>
                </div>
                <br>
                <div class="mobileFit">
                    <h4><b>Program</b></h4>
                    <p><b>13:00 - 13:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Seznámení, rozdělení do pracovních skupin</p>
                    <p><b>13:15 - 13:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Vysvětlení nutné teorie</p>
                    <p><b>13:45 - 14:30&nbsp;&nbsp;&nbsp;&nbsp;</b> První projekty s Boffinem</p>
                    <p><b>14:30 - 14:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Pauza</p>
                    <p><b>14:45 - 15:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Obtížnější projekty s Boffinem</p>
                    <p><b>15:30 - 16:00&nbsp;&nbsp;&nbsp;&nbsp;</b> Soutěž, kterou sami zapojíte a vyhodnotíte</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                        Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <h2 class="mobileFit paddingBottom20">To učíme my</h2>
            <div class="row centering">
                <!--BUMI-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/bumi.jpg">
                    </div>
                    <div class="circuitTitle"><h5>MÍŠA<span style="display: block;">BUCHNÍČKOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--JANA-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/jana.jpg">
                    </div>
                    <div class="circuitTitle"><h5>JANA <span style="display: block;">KOLMAŠOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Komunikace, multimédia a elektronika</p>
                    </div>
                </div>
                <!--MÍŠA-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/misa.jpg">
                    </div>
                    <div class="circuitTitle"><h5>MÍŠA <span style="display: block;">KUBICOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Elektrotechnika, energetika a management</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-3"></div>
</div>
