<div class="row" id="transparentWhiteBackground">
    <div class="row banner">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 hidden-xs">
            <img src="img/banners/boffin_workshop.png"/>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h5><b>ČAS:</b> 13:00 - 17:00</h5>
            <h5><b>MÍSTO:</b> Technická 2, Praha 6</h5>
            <h5><b>TERMÍNY KONÁNÍ:</b> 25. března 2017, 6. května 2017</h5>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 yellowBottomLine">
            <div class="text-center">
                <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                    Přihlas se!
                </button>
            </div>
            <br>
            <p> Děti pochopí základy elektrických obvodů hravou formou se stavebnicí Boffin. Během kroužku spojíme
                dohromady
                teoretické základy a praktické zapojování obvodů. Sestrojíme poplach, trombón nebo třeba rádio.
                Samozřejmě nebudou
                chybět soutěže a práce ve skupinkách. Nechte se překvapit, co všechno společně vykouzlíme!
            </p>
            <div class="row">
                <div class="col-sm-4">
                    <h1>
                        Jak u nás probíhal poslední workshop s Boffinem?
                    </h1>
                </div>
                <div class="col-sm-8 centering">
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/qz88fJSzKtk"
                            allowfullscreen></iframe>
                </div>
            </div>
            <br>
            <p> Děti pochopí základy elektrických obvodů hravou formou se stavebnicí Boffin. Během kroužku spojíme
                dohromady
                teoretické základy a praktické zapojování obvodů. Sestrojíme poplach, trombón nebo třeba rádio.
                Samozřejmě nebudou
                chybět soutěže a práce ve skupinkách. Nechte se překvapit, co všechno společně vykouzlíme!
            </p>
            <div class="text-center">
                <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                    Přihlas se!
                </button>
            </div>
            <br>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>TO UČÍME MY</h2>
            <div class="row centering">
                <!--BUMI-->
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/janaBig.png">
                    </div>
                    <div class="circuitTitle"><h5>MÍŠA<span style="display: block;">BUCHNÍČKOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Otevřená informatika, FEL ČVUT</p>
                    </div>
                </div>
                <!--JANA-->
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/janaBig.jpg">
                    </div>
                    <div class="circuitTitle"><h5>JANA <span style="display: block;">KOLMAŠOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Komunikace, multimédia a elektronika, FEL ČVUT</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
</div>
