<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="entypo-facebook" target="_blank"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="entypo-mail"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="entypo-phone" target="_blank"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="entypo-paper-plane" target="_blank"><span>Klikni pro odběr</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
            <div class="hidden-xs">
                <img src="img/banners/boffin_workshop.png"/>
            </div>
        </div>

        <div class="row">
            <div class="mobileFit">
                <h5><b>ČAS:</b> 13:00 - 17:00</h5>
                <h5><b>MÍSTO:</b> Technická 2, Praha 6</h5>
                <h5><b>TERMÍNY KONÁNÍ:</b> 25. března 2017, 6. května 2017</h5>
            </div>
        </div>

        <div class="row">
            <div class="yellowBottomLine">
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                        Přihlas se!
                    </button>
                </div>
                <br>
                <p class="mobileFit"> Děti pochopí základy elektrických obvodů hravou formou se stavebnicí Boffin. Během
                    kroužku spojíme
                    dohromady
                    teoretické základy a praktické zapojování obvodů. Sestrojíme poplach, trombón nebo třeba rádio.
                    Samozřejmě nebudou
                    chybět soutěže a práce ve skupinkách. Nechte se překvapit, co všechno společně vykouzlíme!
                </p>
                <div class="row centering">
                    <!--<div class="col-sm-4">-->
                    <!--<h1>-->
                    <!--Jak u nás probíhal poslední workshop s Boffinem?-->
                    <!--</h1>-->
                    <!--</div>-->
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/qz88fJSzKtk"
                            allowfullscreen></iframe>
                </div>
                <br>
                <p class="mobileFit"> Děti pochopí základy elektrických obvodů hravou formou se stavebnicí Boffin. Během
                    kroužku spojíme
                    dohromady
                    teoretické základy a praktické zapojování obvodů. Sestrojíme poplach, trombón nebo třeba rádio.
                    Samozřejmě nebudou
                    chybět soutěže a práce ve skupinkách. Nechte se překvapit, co všechno společně vykouzlíme!
                </p>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-yellow btn-boffin-form" ng-click="subscribeToWorkshop()">
                        Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <h2 class="mobileFit">TO UČÍME MY</h2>
            <div class="row centering">
                <!--BUMI-->
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/janaBig.png">
                    </div>
                    <div class="circuitTitle"><h5>MÍŠA<span style="display: block;">BUCHNÍČKOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Otevřená informatika, FEL ČVUT</p>
                    </div>
                </div>
                <!--JANA-->
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/janaBig.jpg">
                    </div>
                    <div class="circuitTitle"><h5>JANA <span style="display: block;">KOLMAŠOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Komunikace, multimédia a elektronika, FEL ČVUT</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-3"></div>
</div>
