<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="row banner">

        <div class="hidden-xs">
            <img src="img/banners/lego_workshop.png"/>
        </div>
    </div>

    <div class="row">
        <div class="mobileFit">
            <h5><b>ČAS:</b> 13:00 - 17:00</h5>
            <h5><b>MÍSTO:</b> Technická 2, Praha 6</h5>
            <h5><b>TERMÍNY KONÁNÍ:</b> 11. března 2017, 22. dubna 2017</h5>
        </div>
    </div>

    <div class="row ">
        <div class="blueBottomLine">
            <div class="text-center">
                <button class="btn btn-lg btn-blue btn-lego-form" ng-click="subscribeToWorkshop()">Přihlas
                    se!
                </button>
            </div>
            <br>
            <p class="mobileFit"> Ze stavebnice Lego Mindstorms si postaví vlastního robota, kterého následně v grafickém prostředí
                naprogramují.
                Robot tedy bude dělat přesně to, co děti samy vymyslely. Hledáme každého kdo má rád lego a oplývá
                skvělými nápady.
                Pod vaší kouzelnou hůlkou roboti oživnou!
            </p>
            <div class="row centering">
                <div class="col-sm-4">
                    <h1>
                        Jak u nás probíhal poslední workshop s roboty?
                    </h1>
                </div>
                <div class="col-sm-8">
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/2UdgIf8Quh4" allowfullscreen></iframe>
                </div>
            </div>
            <br>
            <p class="mobileFit"> Děti se naučí základy objektového programování pomocí grafického editoru Alice. Vytvoří postavičky,
                vymyslí
                vlastní algoritmus,
                pomocí něhož postavičky naprogramují. Tak vykouzlí vlastní magický příběh. Kreativitě se meze nekladou!
            </p>
            <div class="text-center">
                <button class="btn btn-lg btn-blue btn-lego-form" ng-click="subscribeToWorkshop()">Přihlas se!
                </button>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div>
            <h2 class="mobileFit">TO UČÍME MY</h2>
            <div class="row centering">
                <!--ELI-->
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/jitkaBig">
                    </div>
                    <div class="circuitTitle"><h5>LUCKA <span style="display: block;">HALODOVÁ</span></h5></div>
                    <div class="lineRobot"></div>
                    <div><p>Kybernetika a robotika, FEL ČVUT</p>
                    </div>
                </div>
                <!--KÁŤA-->
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/jitkaBig.jpg">
                    </div>
                    <div class="circuitTitle"><h5>JITKA <span style="display: block;">HODNÁ</span></h5></div>
                    <div class="lineRobot"></div>
                    <div><p>Kybernetika a robotika, FEL ČVUT</p>
                    </div>
                </div>
                <!--BARUS-->
                <div class="col-sm-4">
                    <div class="circleTeacher">
                        <img src="img/members/jitkaBig">
                    </div>
                    <div class="circuitTitle"><h5>HANKA <span style="display: block;">PIKULÍKOVÁ</span></h5></div>
                    <div class="lineRobot"></div>
                    <div><p>Otevřená informatika, FEL ČVUT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="col-sm-2"></div>
</div>
