<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="facebook" target="_blank"><img src="img/contacts/facebook.svg" alt="facebook icon"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="mail"><img src="img/contacts/mail.svg" alt="mail icon"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="phone" target="_blank"><img src="img/contacts/phone.svg" alt="phone icon"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="paper-plane" target="_blank"><img src="img/contacts/paper-plane.svg" alt="paper-plane icon"><span>Klikni pro odběr</span></a></li>
        <li><a href="https://twitter.com/witches_cz" class="twitter" target="_blank"><img src="img/contacts/twitter.svg" alt="twitter icon"><span>witches_cz</span></a></li>
        <li><a href="https://www.instagram.com/witches.cz/" class="instagrem" target="_blank"><img src="img/contacts/instagram.svg" alt="instagram icon"><span>witches.cz</span></a></li>
        <li><a href="https://goo.gl/M2DH5F" class="youtube" target="_blank"><img src="img/contacts/youtube.svg" alt="youtube icon"><span>channel wITches</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
                <img src="img/graphics/microbit_workshop.png"/>
           <!-- <img src="img/graphics/full/microbitFull.png"> -->
        </div>

        <div class="row">
            <div class="mobileFit">
                <h5><b>Čas:</b> 14:00 - 17:30</h5>
                <h5><b>Místo:</b> Technická 1902/2, 166 27 Praha 6 - Dejvice</h5>
                <h5><b>Termíny konání:</b> 12. 5, 13. 5.</h5>
                <h5><b>Přihlášky budou otevřeny: </b> 29. 4. 18:00</h5>
                <h5><b>Vstupné:</b> zdarma</h5>
                <h5><b>Pro koho:</b> děti 5. - 9. třída ZŠ</h5>
            </div>
        </div>

        <div class="row">
            <div class="yellowBottomLine">
                <div class="text-center">
                    <button disabled="true" class="btn btn-lg btn-yellow btn-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
                <p class="mobileFit">
                    Společně se podíváme na základy programování a obvodů, také si vysvětlíme něco málo o digitálním a
                    analogovém signálu. To vše ve společnosti mini počítače  <a class="link" href="https://microbit.org/guide/hardware/" target="_blank">micro:bit</a>.
                    Naučíme se ovládat LEDky integrované na samotném micro:bitu, ale také si vytvoříme obvody se
                    samostatnými LEDkami a jinými součástkami. Nakonec si děti zkusí naprogramovat a vytvořit propojením
                    micro:bitů telegraf nebo simulaci hejna světlušek.

                </p>
                <div class="row centering">
                    <!--<div class="col-sm-4 ">-->
                    <!--<h1>-->
                    <!--Jak u nás probíhal poslední workshop Alice?-->
                    <!--</h1>-->
                    <!--</div>-->
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/q6MBXjJG-ig"
                            allowfullscreen="allowfullscreen" data-link="https://www.youtube.com/watch?v=q6MBXjJG-ig"></iframe>
                </div>
                <br>
                <div class="mobileFit">
                    <h4><b>Program</b></h4>
                    <p><b>14:00 - 14:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Seznámení účastníků a představení micro:bitu</p>
                    <p><b>14:15 - 14:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Lehký úvod do programování v prostředí JavaScript Blocks Editor</p>
                    <p><b>14:45 - 15:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Jednoduché obvody (LED, rezistory, potenciometr)</p>
                    <p><b>15:45 - 16:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Pauza</p>
                    <p><b>16:15 - 17:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Teorie analogový vs. digitální signál, binární čísla, projekt ve dvojici – Telegram, Světlušky</p>
                </div>
                <div class="text-center">
                    <button disabled="true" class="btn btn-lg btn-yellow btn-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <h2 class="mobileFit paddingBottom20">To učíme my</h2>
            <div class="row centering">
                <!--BUMI-->
                <div class="col-sm-12 col-md-6">
                    <div class="circleTeacher">
                        <img src="img/members/bumi.jpg">
                    </div>
                    <div class="circuitTitle"><h5>MÍŠA<span style="display: block;">BUCHNÍČKOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--JANA-->
                <div class="col-sm-12 col-md-6">
                    <div class="circleTeacher">
                        <img src="img/members/jana.jpg">
                    </div>
                    <div class="circuitTitle"><h5>JANA <span style="display: block;">KOLMAŠOVÁ</span></h5></div>
                    <div class="lineBoffin"></div>
                    <div><p>Elektronika a komunikace</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-3"></div>
</div>

