<!-- Contacts banner -->
<aside id="sticky-social" class="hidden-xs">
    <ul>
        <li><a href="https://www.facebook.com/witches.cz/" class="facebook" target="_blank"><img src="img/contacts/facebook.svg" alt="facebook icon"><span>witches.cz</span></a></li>
        <li><a href="mailto:witches@fel.cvut.cz" class="mail"><img src="img/contacts/mail.svg" alt="mail icon"><span>witches@fel.cvut.cz</span></a></li>
        <li><a href="tel:+420731922137" class="phone" target="_blank"><img src="img/contacts/phone.svg" alt="phone icon"><span>731 922 137</span></a></li>
        <li><a href="http://eepurl.com/b8q2XT" class="paper-plane" target="_blank"><img src="img/contacts/paper-plane.svg" alt="paper-plane icon"><span>Klikni pro odběr</span></a></li>
        <li><a href="https://twitter.com/witches_cz" class="twitter" target="_blank"><img src="img/contacts/twitter.svg" alt="twitter icon"><span>witches_cz</span></a></li>
        <li><a href="https://www.instagram.com/witches.cz/" class="instagrem" target="_blank"><img src="img/contacts/instagram.svg" alt="instagram icon"><span>witches.cz</span></a></li>
        <li><a href="https://goo.gl/M2DH5F" class="youtube" target="_blank"><img src="img/contacts/youtube.svg" alt="youtube icon"><span>channel wITches</span></a></li>
    </ul>
</aside>

<div class="row" id="transparentWhiteBackground">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row banner">
           <img src="img/graphics/scratch_workshop.png"/>
           <!-- <img src="img/graphics/full/scratchFull.png"> -->
        </div>

        <div class="row">
            <div class="mobileFit">
                <h5><b>Čas:</b> 14:00 - 17:30</h5>
                <h5><b>Místo:</b> Technická 1902/2, 166 27 Praha 6 - Dejvice</h5>
                <h5><b>Termíny konání:</b> 7. 4. a 8. 4.</h5>
                <h5><b>Přihlášky budou otevřeny: </b> 24. 3. 18:00</h5>
                <h5><b>Vstupné:</b> zdarma</h5>
                <h5><b>Pro koho:</b> děti 5. - 9. třída ZŠ</h5>
            </div>
        </div>

        <div class="row">
            <div class="pinkBottomLine">
                <div class="text-center">
                    <button disabled="true" class="btn btn-lg btn-pink btn-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
                <p class="mobileFit">Děti se naučí základní principy programování v prostředí <a class="link" href="https://scratch.mit.edu/">
                    Scratch</a>. Jakmile se ve Scratchi zorientujeme, prakticky si zkusíme, jak funguje cyklus, podmínka
                    a nebo událost či proměnná v daných minihrách. Zkusíme si také, jaké to je hledat chyby a nebo programovat ve dvojici multiplayer hru. 
                </p>
                <div class="row centering">
                    <!--<div class="col-sm-4 ">-->
                    <!--<h1>-->
                    <!--Jak u nás probíhal poslední workshop Alice?-->
                    <!--</h1>-->
                    <!--</div>-->
                    <iframe class="embeddedVideo" src="https://www.youtube.com/embed/atRqLkppMo8"
                            allowfullscreen="allowfullscreen" data-link="https://www.youtube.com/watch?v=atRqLkppMo8"></iframe>
                </div>
                <br>
                <div class="mobileFit">
                    <h4><b>Program</b></h4>
                    <p><b>14:00 - 14:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Představení prostředí Scratch</p>
                    <p><b>14:30 - 15:30&nbsp;&nbsp;&nbsp;&nbsp;</b> Úvod do základních principů programování - minihry</p>
                    <p><b>15:30 - 16:00&nbsp;&nbsp;&nbsp;&nbsp;</b> Učíme se debugovat - hledat chyby v kódech ostatních</p>
                    <p><b>16:00 - 16:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Pauza</p>
                    <p><b>16:15 - 16:45&nbsp;&nbsp;&nbsp;&nbsp;</b> Co to jsou události a na co se hodí proměnné?</p>
                    <p><b>16:45 - 17:15&nbsp;&nbsp;&nbsp;&nbsp;</b> Pair programming - tvorba vlastní minihry ve dvojici</p>
                </div>
                <div class="text-center">
                    <button disabled="true" class="btn btn-lg btn-pink btn-form" ng-click="subscribeToWorkshop()">Přihlas se!
                    </button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <h2 class="mobileFit paddingBottom20">To učíme my</h2>
            <div class="row centering">
                <!--ELI-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/eli.jpg">
                    </div>
                    <div class="circuitTitle"><h5>ELI <span style="display: block;">BABAYEVA</span></h5></div>
                    <div class="lineScratch"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--KÁŤA-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/katka.jpg">
                    </div>
                    <div class="circuitTitle"><h5>KÁŤA <span style="display: block;">JANDOVÁ</span></h5></div>
                    <div class="lineScratch"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
                <!--BARUS-->
                <div class="col-sm-12 col-md-4">
                    <div class="circleTeacher">
                        <img src="img/members/bara.jpg">
                    </div>
                    <div class="circuitTitle"><h5>BARUŠ <span style="display: block;">SUCHANOVÁ</span></h5></div>
                    <div class="lineScratch"></div>
                    <div><p>Otevřená informatika</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-3"></div>
</div>

